version: '3.7'

services:

    arxiv_server:
        build:
            context: .
            target: final
        container_name: arxiv_server
        restart: unless-stopped
        ports:
            - 127.0.0.1:9097:9097
        volumes:
            - $DUMP_PATH:/dump
            # - ./static:/bin/static # debug only

